body{
  margin:0;
  overflow:hidden;
  font-family:'Press Start 2P', cursive;
  background:linear-gradient(#5ec9ff,#b8ecff);
  
}
img {
  image-rendering: pixelated;
}

/* 햇빛 효과 */
.sunlight{
  position:absolute;
  width:100%;
  height:100%;
  background:radial-gradient(circle at 80% 20%, rgba(255,255,255,0.6), transparent 60%);
  pointer-events:none;
}

/* 구름 */
.cloud{
  position:absolute;
  top:60px;
  width:120px;
  height:60px;
  background:white;
  box-shadow:
    20px 10px white,
    40px 0px white,
    60px 15px white;
  animation:cloudMove 60s linear infinite;
}
@keyframes cloudMove{
  from{left:-200px;}
  to{left:110%;}
}

/* 잔디 */
.ground{
  position:absolute;
  bottom:0;
  width:100%;
  height:150px;
  background:#4CAF50;
}

/* 벚꽃 나무 */
.tree{
  position:absolute;
  bottom:150px;
  width:80px;
  height:120px;
  background:pink;
  
}

/* 꽃잎 */
.petal {
    position: absolute;
    width: 15px;
    height: 15px;
    background: pink;
    border-radius: 50% 50% 50% 0;
    opacity: 0.8;
}
@keyframes fall{
  0%{transform:translate(0,0) rotate(0deg);}
  50%{transform:translate(20px,50vh) rotate(180deg);}
  100%{transform:translate(-20px,100vh) rotate(360deg);}
}

/* 고양이 */
#cat {
    position: absolute;
    width: 820px;
    height: 651px;
    image-rendering: pixelated;
}



.cat{
  position:absolute;
  bottom:150px;
  left:-100px;

  width:64px;
  height:64px;

  background:url("assets/cat_walk.png") no-repeat;
  background-size:256px 64px;

  image-rendering: pixelated;

  animation: walk 0.6s steps(4) infinite;
  z-index:10;
}

/* 프레임 넘기기 */
@keyframes walk{
  from { background-position: 0 0; }
  to   { background-position: -256px 0; }
}

/* 말풍선 */
.dialog{
  position:absolute;
  bottom:260px;
  left:50%;
  transform:translateX(-50%);
  background:#fff8dc;
  border:6px solid black;
  padding:20px;
  display:none;
  text-align:center;
  font-size:12px;
  width:400px;
  z-index:100;
}

/* 선택창 */
.choice{
  position:absolute;
  bottom:120px;
  left:50%;
  transform:translateX(-50%);
  background:#fff8dc;
  border:6px solid black;
  padding:20px;
  display:none;
  text-align:center;
  font-size:12px;
}

button{
  font-family:'Press Start 2P', cursive;
  margin:10px;
  padding:10px;
  border:4px solid black;
  background:#ff9ad5;
  cursor:pointer;
}

.no-btn{
  transition: all 0.6s ease;
}